
<div class="uk-container">
 <h1>Welcome Form</h1>
<%= react_component("Form", form_props) %>
 <div class="button-section">
 <%= link_to 'Proceed to Calendar', welcome_calendar_path, class: "uk-button uk-button-primary" %>
  </div>
</div>